@media screen and ( max-width:1180px )
{
    .wrap{
        width:100%;
        padding:0;
        box-sizing: border-box;
        -moz-box-sizing: border-box; 
        }
}

@media screen and ( max-width:576px )
{
    article .article-container {
        padding: 100px 0 0 10px;
      }
}