<form class="row g-3">
	<div class="form-row">
		<div class="col-md-6 col-sm-12">
	  		<label class="form-label">小18報表</label>
              <app-new-upload 
              #uploadBatchFile
              [inputApiUrl] = "uploadApiURL +'/S18'"
              (outputUploadInfo) = "setUploadInfo($event)"
              style="width:100%;"
              ></app-new-upload> 
		</div>
		<span style="color: black;" class="badge badge-secondary">{{notificationS18}}</span>
	</div>

	<div class="form-row">
		<div class="col-md-6 col-sm-12">
	  		<label class="form-label">大18報表</label>
              <app-new-upload 
              #uploadBatchFile
              [inputApiUrl] = "uploadApiURL +'/B18'"
              (outputUploadInfo) = "setUploadInfo($event)"
              style="width:100%;"
              ></app-new-upload> 
			<span style="color: black;" class="badge badge-secondary">{{notificationB18}}</span>
		</div>
	</div>

	<div class="form-row">
		<div class="col-md-6 col-sm-12">
	  		<label class="form-label">廠商提供報表</label>
              <app-new-upload 
              #uploadBatchFile
              [inputApiUrl] = "uploadApiURL +'/Vendor'"
              (outputUploadInfo) = "setUploadInfo($event)"
              style="width:100%;"
              ></app-new-upload> 
			  <span style="color: black;" class="badge badge-secondary">{{notificationPkResult}}</span>
		</div>
	</div>	
  </form>


  <app-loading [loader]="isLoading" [loadingMsg] = "loadingMsg"></app-loading>
